In [1]:
import pandas as pd
import numpy as np
import sys
np.set_printoptions(threshold=sys.maxsize)
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.externals import joblib

In [2]:
import pandas as pd

In [3]:
df_original = pd.read_excel('dummy original.xlsx', sheet_name='CLUSTERING')

In [4]:
df = df_original

In [5]:
df.head()

,Obs,CARDNO,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,...,DOM_f_FACE_TO_FACE_f,DOM_f_ECI_f,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend
0,1,1,7.8,11.64,199.18,146.53,12.62,12.44,3.81,.,...,43,.,.,.,.,.,.,.,35,8
1,2,2,32.23,.,.,.,.,.,.,17.9,...,7,4,1,.,.,.,.,.,7,5
2,3,3,.,.,.,.,.,.,102.74,.,...,5,.,.,3,.,.,.,.,3,5
3,4,4,8.62,.,69.97,18.21,279.55,.,13.86,.,...,27,.,.,.,.,.,.,.,16,11
4,5,5,12.5,.,.,13.49,.,.,10.12,9.98,...,19,6,.,.,.,.,.,.,15,10

In [6]:
df.shape

(100, 444)

In [7]:
cardno = df['CARDNO']

In [8]:
df = df.drop(df.columns[[0,1]], axis=1)

In [9]:
df.head()

,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,ELECTRONICS,GENERALRETAILGOODS,...,DOM_f_FACE_TO_FACE_f,DOM_f_ECI_f,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend
0,7.8,11.64,199.18,146.53,12.62,12.44,3.81,.,.,.,...,43,.,.,.,.,.,.,.,35,8
1,32.23,.,.,.,.,.,.,17.9,2.73,30.15,...,7,4,1,.,.,.,.,.,7,5
2,.,.,.,.,.,.,102.74,.,.,.,...,5,.,.,3,.,.,.,.,3,5
3,8.62,.,69.97,18.21,279.55,.,13.86,.,.,134.27,...,27,.,.,.,.,.,.,.,16,11
4,12.5,.,.,13.49,.,.,10.12,9.98,.,45.31,...,19,6,.,.,.,.,.,.,15,10

In [10]:
df = df.replace({'.':0})

In [11]:
df.head()

,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,ELECTRONICS,GENERALRETAILGOODS,...,DOM_f_FACE_TO_FACE_f,DOM_f_ECI_f,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend
0,7.80,11.64,199.18,146.53,12.62,12.44,3.81,0.00,0.00,0.00,...,43,0,0,0,0,0,0,0,35,8
1,32.23,0.00,0.00,0.00,0.00,0.00,0.00,17.90,2.73,30.15,...,7,4,1,0,0,0,0,0,7,5
2,0.00,0.00,0.00,0.00,0.00,0.00,102.74,0.00,0.00,0.00,...,5,0,0,3,0,0,0,0,3,5
3,8.62,0.00,69.97,18.21,279.55,0.00,13.86,0.00,0.00,134.27,...,27,0,0,0,0,0,0,0,16,11
4,12.50,0.00,0.00,13.49,0.00,0.00,10.12,9.98,0.00,45.31,...,19,6,0,0,0,0,0,0,15,10

In [12]:
df = df.apply(pd.to_numeric)

In [13]:
column_name = df.columns

In [14]:
scaler = joblib.load('exp_scaler.pkl')

In [15]:
scaled = scaler.transform(df)

[2, 5, 10, 12, 16, 19, 27, 28, 31, 36, 39, 43, 46, 57, 75, 84, 90]
{2, 36, 5, 39, 10, 43, 12, 75, 46, 16, 19, 84, 57, 90, 27, 28, 31}

In [16]:
scaled.shape

(100, 442)

In [17]:
kmeans = joblib.load('exp_kmeans.pkl')

In [22]:
clusters = kmeans.predict(scaled)

In [23]:
clusters

array([0, 7, 7, 0, 4, 7, 7, 7, 7, 7, 7, 5, 7, 7, 7, 4, 7, 0, 0, 7, 7, 7,
       7, 4, 7, 2, 4, 7, 7, 7, 7, 4, 7, 7, 7, 4, 7, 7, 7, 7, 4, 7, 6, 7,
       7, 0, 7, 7, 7, 7, 2, 0, 7, 7, 7, 7, 7, 4, 7, 7, 7, 7, 7, 7, 7, 7,
       0, 7, 9, 2, 7, 7, 4, 2, 7, 7, 7, 7, 7, 8, 0, 3, 4, 7, 2, 7, 7, 0,
       0, 7, 7, 7, 7, 0, 1, 7, 7, 7, 7, 7], dtype=int32)