In [1]:
import pandas as pd
import numpy as np
import sys
np.set_printoptions(threshold=sys.maxsize)
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.externals import joblib

In [2]:
df_original = pd.read_excel('dummy original.xlsx', sheet_name='CLUSTERING')

In [3]:
df = df_original

In [4]:
df.head()

,Obs,CARDNO,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,...,DOM_f_FACE_TO_FACE_f,DOM_f_ECI_f,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend
0,1,1,7.8,11.64,199.18,146.53,12.62,12.44,3.81,.,...,43,.,.,.,.,.,.,.,35,8
1,2,2,32.23,.,.,.,.,.,.,17.9,...,7,4,1,.,.,.,.,.,7,5
2,3,3,.,.,.,.,.,.,102.74,.,...,5,.,.,3,.,.,.,.,3,5
3,4,4,8.62,.,69.97,18.21,279.55,.,13.86,.,...,27,.,.,.,.,.,.,.,16,11
4,5,5,12.5,.,.,13.49,.,.,10.12,9.98,...,19,6,.,.,.,.,.,.,15,10

In [5]:
df.shape

(100, 444)

In [6]:
cardno = df['CARDNO']

In [7]:
df = df.drop(df.columns[[0,1]], axis=1)

In [8]:
df.head()

,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,ELECTRONICS,GENERALRETAILGOODS,...,DOM_f_FACE_TO_FACE_f,DOM_f_ECI_f,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend
0,7.8,11.64,199.18,146.53,12.62,12.44,3.81,.,.,.,...,43,.,.,.,.,.,.,.,35,8
1,32.23,.,.,.,.,.,.,17.9,2.73,30.15,...,7,4,1,.,.,.,.,.,7,5
2,.,.,.,.,.,.,102.74,.,.,.,...,5,.,.,3,.,.,.,.,3,5
3,8.62,.,69.97,18.21,279.55,.,13.86,.,.,134.27,...,27,.,.,.,.,.,.,.,16,11
4,12.5,.,.,13.49,.,.,10.12,9.98,.,45.31,...,19,6,.,.,.,.,.,.,15,10

In [9]:
column_name = df.columns

In [10]:
column_name

Index(['FOOD_GROCERY', 'DRUGSTORES_PHARMACIES', 'APPAREL_ACCESSORIES',
       'HOMEIMPROVEMENT_SUPPLY', 'GENERALRETAILSERVICES', 'HEALTHCARE',
       'DEPARTMENTSTORES', 'RESTAURANTS', 'ELECTRONICS', 'GENERALRETAILGOODS',
       ...
       'DOM_f_FACE_TO_FACE_f', 'DOM_f_ECI_f', 'INT_f_ECI_f',
       'DOM_f_RECURRINGINSTALLMENT_f', 'INT_f_FACE_TO_FACE_f', 'DOM_f_MOTO_f',
       'INT_f_MOTO_f', 'INT_f_RECURRINGINSTALLMENT_f', 'Weekday', 'Weekend'],
      dtype='object', length=442)

In [11]:
df.fillna(0, inplace=True)

In [12]:
df = df.replace({'.':0})

In [13]:
df.head()

,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,ELECTRONICS,GENERALRETAILGOODS,...,DOM_f_FACE_TO_FACE_f,DOM_f_ECI_f,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend
0,7.80,11.64,199.18,146.53,12.62,12.44,3.81,0.00,0.00,0.00,...,43,0,0,0,0,0,0,0,35,8
1,32.23,0.00,0.00,0.00,0.00,0.00,0.00,17.90,2.73,30.15,...,7,4,1,0,0,0,0,0,7,5
2,0.00,0.00,0.00,0.00,0.00,0.00,102.74,0.00,0.00,0.00,...,5,0,0,3,0,0,0,0,3,5
3,8.62,0.00,69.97,18.21,279.55,0.00,13.86,0.00,0.00,134.27,...,27,0,0,0,0,0,0,0,16,11
4,12.50,0.00,0.00,13.49,0.00,0.00,10.12,9.98,0.00,45.31,...,19,6,0,0,0,0,0,0,15,10

In [14]:
df = df.apply(pd.to_numeric)

In [16]:
zscore = np.abs(stats.zscore(df, axis=1))

In [17]:
df_zscore = pd.DataFrame.from_records(z, columns=column_name)

In [18]:
# df_zscore.to_csv('zscore.csv', index=False)

In [19]:
zscore_index = np.where(z>8)

In [49]:
row_drop = sorted(set(zscore_index[0]))

In [50]:
len(row_drop)

58

In [53]:
print(row_drop)

[0, 1, 2, 3, 4, 5, 9, 10, 11, 12, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 49, 54, 57, 59, 60, 61, 64, 67, 68, 70, 75, 77, 83, 84, 89, 90, 91, 92, 93, 96, 97, 99]

In [26]:
df_no_outlier = df.drop(row_drop)

In [27]:
df_no_outlier.shape

(42, 442)

In [28]:
df_no_outlier.head()

,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,ELECTRONICS,GENERALRETAILGOODS,...,DOM_f_FACE_TO_FACE_f,DOM_f_ECI_f,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend
6,0.00,0.0,81.07,69.02,21.17,0.0,0.0,0.0,0.0,0.00,...,6,0,0,0,0,0,0,0,6,0
7,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.00,...,0,0,0,34,0,0,0,0,34,0
8,154.70,0.0,0.00,89.76,0.00,0.0,0.0,0.0,0.0,205.11,...,14,0,0,0,0,0,0,0,12,2
13,14.72,0.0,0.00,0.00,0.00,0.0,6.0,0.0,0.0,0.00,...,0,18,0,0,0,0,0,0,14,4
14,58.83,0.0,23.28,20.62,0.00,0.0,41.7,0.0,0.0,0.00,...,14,0,0,0,0,0,0,0,11,3

In [114]:
cardno_no_outlier = cardno.drop(row_drop).tolist()

In [116]:
len(cardno_no_outlier)

42

In [120]:
cardno_no_outlier[:10]

[7, 8, 9, 14, 15, 19, 22, 31, 34, 35]

In [29]:
scaler = MinMaxScaler().fit(df_no_outlier)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [30]:
scaled = scaler.transform(df_no_outlier)

In [31]:
scaled.shape

(42, 442)

In [36]:
kmeans = KMeans(n_clusters=10, precompute_distances="auto", n_jobs=-1).fit(scaled)
clusters = kmeans.predict(scaled)

In [37]:
clusters

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 6, 7, 1, 5, 4, 1, 1, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 1, 1, 1, 1, 1, 9, 1, 8, 1, 1, 1, 7, 1, 2, 1, 7],
      dtype=int32)

In [38]:
joblib.dump(scaler, 'model_scaler.pkl')

['model_scaler.pkl']

In [39]:
joblib.dump(kmeans, 'model_kmeans.pkl')

['model_kmeans.pkl']

In [40]:
df_scaled = pd.DataFrame.from_records(scaled, columns=column_name)

In [41]:
df_scaled['cluster'] = clusters

In [101]:
df_scaled.shape

(42, 443)

In [103]:
cardno_no_outlier.shape

(42,)

In [121]:
df_scaled['cardno'] = cardno_no_outlier

In [122]:
df_scaled.head(10)

,FOOD_GROCERY,DRUGSTORES_PHARMACIES,APPAREL_ACCESSORIES,HOMEIMPROVEMENT_SUPPLY,GENERALRETAILSERVICES,HEALTHCARE,DEPARTMENTSTORES,RESTAURANTS,ELECTRONICS,GENERALRETAILGOODS,...,INT_f_ECI_f,DOM_f_RECURRINGINSTALLMENT_f,INT_f_FACE_TO_FACE_f,DOM_f_MOTO_f,INT_f_MOTO_f,INT_f_RECURRINGINSTALLMENT_f,Weekday,Weekend,cluster,cardno
0,0.000000,0.0,0.088485,0.220216,0.847817,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.048387,0.000000,1,7
1,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.0,0.0,0.0,0.0,0.0,0.274194,0.000000,1,8
2,1.000000,0.0,0.000000,0.286389,0.000000,0.000000,0.000000,0.000000,0.000000,0.646933,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.096774,0.031250,1,9
3,0.095152,0.0,0.000000,0.000000,0.000000,0.000000,0.019026,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.112903,0.062500,1,14
4,0.380284,0.0,0.025409,0.065790,0.000000,0.000000,0.132230,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.088710,0.046875,1,15
5,0.015191,0.0,0.061373,0.341937,0.000000,0.130314,0.035261,0.078232,0.543787,0.342470,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.217742,0.125000,1,19
6,0.246865,0.0,0.010052,0.000000,0.000000,0.000000,0.136542,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.048387,0.015625,1,22
7,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.012821,0.0,0.0,0.0,0.0,0.0,0.000000,0.031250,0,31
8,0.039496,0.0,0.022735,0.000000,0.000000,0.000000,0.033771,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.120968,0.015625,1,34
9,0.000000,1.0,0.000000,0.000000,0.000000,0.080094,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.032258,0.000000,1,35

In [123]:
# df_scaled.to_csv('result_scaled.csv', index=False)

In [44]:
df_no_outlier['cluster'] = clusters

In [124]:
df_no_outlier['cardno'] = cardno_no_outlier

In [127]:
# df_no_outlier.to_csv('result_no_outlier.csv', index=False)

In [56]:
print(row_drop)

[0, 1, 2, 3, 4, 5, 9, 10, 11, 12, 15, 16, 17, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 49, 54, 57, 59, 60, 61, 64, 67, 68, 70, 75, 77, 83, 84, 89, 90, 91, 92, 93, 96, 97, 99]

In [62]:
clusters

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 6, 7, 1, 5, 4, 1, 1, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 1, 1, 1, 1, 1, 9, 1, 8, 1, 1, 1, 7, 1, 2, 1, 7],
      dtype=int32)

In [66]:
count = 0
predict_train = []
for i in range(0, df.shape[0]):
    if(i not in row_drop):
        predict_train.append(clusters[count])
        count += 1
    else:
        predict_train.append(None)

In [67]:
print(predict_train)

[None, None, None, None, None, None, 1, 1, 1, None, None, None, None, 1, 1, None, None, None, 1, None, None, 1, None, None, None, None, None, None, None, None, 0, None, None, 1, 1, None, None, None, None, None, 6, None, None, None, None, None, None, 7, 1, None, 5, 4, 1, 1, None, 1, 1, None, 1, None, None, None, 1, 1, None, 1, 3, None, None, 1, None, 1, 1, 1, 1, None, 1, None, 1, 9, 1, 8, 1, None, None, 1, 1, 7, 1, None, None, None, None, None, 2, 1, None, None, 7, None]

In [89]:
df_result_predict['cardno'] = cardno

In [91]:
df_result_predict['train'] = predict_train

In [92]:
df_result_predict.head(10)

   cardno  train
0       1    NaN
1       2    NaN
2       3    NaN
3       4    NaN
4       5    NaN
5       6    NaN
6       7    1.0
7       8    1.0
8       9    1.0
9      10    NaN

In [93]:
# df_result_predict.to_csv('result_predict.csv', index=False)